:root {
  font-family: "Mountains of Christmas", serif;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
:root {
  --background: #123a84;

  background: linear-gradient( #0d1430, #245ca6 );
  color: white;
}

#root {
  overflow: hidden;
}

h1 {
  font-size: 70px;
  margin-bottom: 20px;
}

.hny {
  font-size: larger;
  padding-left: 20px;
}

.pad {
  padding: 20px;
}

.point {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .pad {
    padding: 40px;

  }
}
* {
    box-sizing: border-box;
    position: relative;
}

.App, body {
    background-color: inherit;
    color: inherit;
    height: 100vh;
    overflow: hidden auto;
    padding: 0;
    width: 100vw;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.overlay {
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
}

.img-txt {
    background-size: cover;
    height: 1em;
    width: 1em;
    margin: 0 .5em;
}


.fa-xmark{
    transition: transform .25s ease-in-out;

    &.plus {
        transform: rotate(-135deg);
    }
}


.crop-excess {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;

    &.hov:hover {
        overflow: visible;
        white-space: normal;
    }
}

.max, .fw {
    width: 100%;
}

.max, .fh {
    height: 100%;
}

.mega-max {
    height: 100vh;
    width: 100vw;
}


.hide {
    display: none !important;
}

.disappear {
    visibility: hidden !important;
}

.no-trans {
    transition: unset !important;
}

.no-btn {
    background-color: transparent;
    border: none;
    color: inherit;
    font-weight: 600;
    outline: none;
}

.no-link {
    text-decoration: none;
}


.flex,
.flex-rev,
.flex-col {
    display: flex;

    > .grow {
        flex-grow: 1;
    }
}

.flex-rev {
    flex-direction: row-reverse;
}

.flex-col {
    flex-direction: column;
}

.mid-align {
    align-items: center;
}

.abs, .abs-mid, .abs-mid-y, .abs-top {
    position: absolute;
}

.abs-top {
    top: 0;
    left: 0;
}

.abs-mid {
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.abs-mid-y {
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}


.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.dark-mode .sun {
    display: none;
}

.moon {
    display: none !important;

    .dark-mode & {
        display: block !important;
    }
}


.side-scroll {
    scroll-snap-type: x proximity;
    overflow: auto hidden;

    > * {
        flex: 0 0 auto;
        scroll-snap-align: start;
    }
}

.hid-scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* .custom-scroll::-webkit-scrollbar-track {
    background-color: inherit;
} */
/* .custom-scroll::-webkit-scrollbar-track:hover {
    background-color: var(--body3-col);
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #ff800040;
    border-radius: 1rem;
    cursor: pointer;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: var(--but-col);
} */

.even-space {
    justify-content: space-evenly;
}

.mx-auto {
    margin: auto;
}

.br-5 {
  border-radius: .5em;
}

.br-1 {
  border-radius: 1em;
}

@media screen and (max-width: 768px) {
  
    .md-flex-col {
      display: flex;
      flex-direction: column;
    }

    .md-fw {
        width: 100% !important;
    }
  }
.santa {
    animation: sleighing both 8s ease-in-out infinite;

    > * {
        scale: -1 1;
    }
}

.gift-box .hide {
    animation: none !important;
}

.overlay:has( .gift-box:not(.hide), #open-box){
    background-color: #222222bb;
}

footer {
    color: #222;
    bottom: 10px;
    font-weight: 400;
    text-wrap-mode: nowrap;
    letter-spacing: 1px;
    text-shadow: 7px 5px 10px #111;
}


.floor {
    .trees {
        bottom: 0;
    }

    .tree2, .tree4 {
        transform: translateY(-20px);
    }

    .tree1, .tree3 {
        transform: translateY(-50px);
    }
}

.scroll-view {
    background-color: transparent;
    padding: 0;
    width: min(700px, 100%);
    outline: none;
    border: none;

    &::backdrop {
        background-color: #22222240;
        backdrop-filter: blur(5px);
    }

    .content {
        aspect-ratio: inherit;
        color: black;
        top: calc(100% * (40 / 277));
        left: calc(100% * (100 / 466));
        overflow: hidden;
        padding: 10px;
        width: calc(100% * (260 / 466));

        p {
            overflow-y: auto;
        }

        :not(p) {
            flex: 0 0 auto;
        }

        .verse {
            font-size: smaller;
        }
    }

    h3, p {
        margin-top: 0;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 768px) {

    .tree2, .tree3 {
        visibility: hidden;
    }

    .scroll-view {
        h3 {
            line-height: 26px;
        }
        p { 
            font-size: smaller;
            line-height: 15px;
        }
        
        .verse {
            line-height: 18px;
        }
    }
}

@media screen and (min-width: 768px) {
    .floor .tree1, .floor .tree2 {
        transform: translateY(-70px);
    }
}


@keyframes sleighing {
    0% {
        transform: translate(-100%, 30px);
        rotate: 20deg;
    }
    50% {
        transform: translate(calc((100vw - 100%) / 2 ), 30px);
        rotate: 0deg;
    }
    100% {
        transform: translate(200vw, 20px);
        rotate: -30deg;
    }
}

  .img-trans {
    transition: all 0.5s ease;
    opacity: 1;
    scale: 1
  }
  
  .will-trans {
    opacity: 0 !important;
    scale: 0.5 !important;
  }
  
  .day-gift {
    
  }

  #open-box.obscure {
    scale: 0.8;
    filter: brightness(0.2);
  }

  .gift-cont {

    .scroll.emerge {
      animation: scroll-emerge 1s both;
    }
    
    .day-gift.emerge {
      animation: day-emerge 2s both;
    }
  }
  
  .emerge {
    &::before {
      content: '';
      animation: glowEffect 1s infinite alternate;
      aspect-ratio: 1/1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: gold;
      border-radius: 50%;
      position: absolute;
      width: 25%;
    }
  }
  
  @keyframes glowEffect {
    0% {
      filter: blur(50px);
    }
    100% {
      filter: blur(25px);
    }
  }
  
  
  
  @keyframes scroll-emerge {
    0% {
      transform: translate(-100%, -100%);
    }
    100% {
      transform: translate(-50%, -50%);
    }
  }

  @keyframes day-emerge {
    0% {
      transform: translate(-100%, -100%);
    }
    60% {
      transform: translate(-50%, -50%);
    }
    85% {
      transform: translate(-50%, -50%);
    }
    100% {
      transform: translate(calc(-100% - 75px), -50%);
    }
  }:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}
.animated {
  animation-duration: var(--animate-duration);
  animation-fill-mode: forwards;
}
.animated.infinite {
  animation-iteration-count: infinite;
}
.animated.repeat-1 {
  animation-iteration-count: var(--animate-repeat);
}
.animated.repeat-2 {
  animation-iteration-count: calc(var(--animate-repeat) * 2);
}
.animated.repeat-3 {
  animation-iteration-count: calc(var(--animate-repeat) * 3);
}
.animated.delay-1s {
  animation-delay: var(--animate-delay);
}
.animated.delay-2s {
  animation-delay: calc(var(--animate-delay) * 2);
}
.animated.delay-3s {
  animation-delay: calc(var(--animate-delay) * 3);
}
.animated.delay-4s {
  animation-delay: calc(var(--animate-delay) * 4);
}
.animated.delay-5s {
  animation-delay: calc(var(--animate-delay) * 5);
}
.animated.faster {
  animation-duration: calc(var(--animate-duration) / 2);
}
.animated.fast {
  animation-duration: calc(var(--animate-duration) * 0.8);
}
.animated.slow {
  animation-duration: calc(var(--animate-duration) * 2);
}
.animated.slower {
  animation-duration: calc(var(--animate-duration) * 3);
}
@media print, (prefers-reduced-motion: reduce) {
  .animated {
    animation-duration: 1ms !important;
    transition-duration: 1ms !important;
    animation-iteration-count: 1 !important;
  }

  .animated[class*='Out'] {
    opacity: 0;
  }
}
/* Attention seekers  */
/* @import 'attention_seekers/bounce.css';
@import 'attention_seekers/flash.css';
@import 'attention_seekers/pulse.css';
@import 'attention_seekers/rubberBand.css';
@import 'attention_seekers/shakeX.css';
@import 'attention_seekers/shakeY.css';
@import 'attention_seekers/headShake.css';
@import 'attention_seekers/swing.css';
@import 'attention_seekers/tada.css';
@import 'attention_seekers/wobble.css';
@import 'attention_seekers/jello.css';
@import 'attention_seekers/heartBeat.css'; */
/* Back entrances */
/* @import 'back_entrances/backInDown.css';
@import 'back_entrances/backInLeft.css';
@import 'back_entrances/backInRight.css';
@import 'back_entrances/backInUp.css'; */
/* Back exits */
/* @import 'back_exits/backOutDown.css';
@import 'back_exits/backOutLeft.css';
@import 'back_exits/backOutRight.css';
@import 'back_exits/backOutUp.css'; */
/* Bouncing entrances  */
/* @import 'bouncing_entrances/bounceIn.css';
@import 'bouncing_entrances/bounceInDown.css';
@import 'bouncing_entrances/bounceInLeft.css';
@import 'bouncing_entrances/bounceInRight.css';
@import 'bouncing_entrances/bounceInUp.css'; */
/* Bouncing exits  */
/* @import 'bouncing_exits/bounceOut.css';
@import 'bouncing_exits/bounceOutDown.css';
@import 'bouncing_exits/bounceOutLeft.css';
@import 'bouncing_exits/bounceOutRight.css';
@import 'bouncing_exits/bounceOutUp.css'; */
/* Fading entrances  */
/* @import 'fading_entrances/fadeIn.css';
@import 'fading_entrances/fadeInDown.css';
@import 'fading_entrances/fadeInDownBig.css';
@import 'fading_entrances/fadeInLeft.css';
@import 'fading_entrances/fadeInLeftBig.css';
@import 'fading_entrances/fadeInRight.css';
@import 'fading_entrances/fadeInRightBig.css';
@import 'fading_entrances/fadeInUp.css';
@import 'fading_entrances/fadeInUpBig.css';
@import 'fading_entrances/fadeInTopLeft.css';
@import 'fading_entrances/fadeInTopRight.css';
@import 'fading_entrances/fadeInBottomLeft.css';
@import 'fading_entrances/fadeInBottomRight.css'; */
/* Fading exits */
/* @import 'fading_exits/fadeOut.css';
@import 'fading_exits/fadeOutDown.css';
@import 'fading_exits/fadeOutDownBig.css';
@import 'fading_exits/fadeOutLeft.css';
@import 'fading_exits/fadeOutLeftBig.css';
@import 'fading_exits/fadeOutRight.css';
@import 'fading_exits/fadeOutRightBig.css';
@import 'fading_exits/fadeOutUp.css';
@import 'fading_exits/fadeOutUpBig.css';
@import 'fading_exits/fadeOutTopLeft.css';
@import 'fading_exits/fadeOutTopRight.css';
@import 'fading_exits/fadeOutBottomRight.css';
@import 'fading_exits/fadeOutBottomLeft.css'; */
/* Flippers */
/* @import 'flippers/flip.css';
@import 'flippers/flipInX.css';
@import 'flippers/flipInY.css';
@import 'flippers/flipOutX.css';
@import 'flippers/flipOutY.css'; */
/* Lightspeed */
/* @import 'lightspeed/lightSpeedInRight.css';
@import 'lightspeed/lightSpeedInLeft.css';
@import 'lightspeed/lightSpeedOutRight.css';
@import 'lightspeed/lightSpeedOutLeft.css'; */
/* Rotating entrances */
/* @import 'rotating_entrances/rotateIn.css';
@import 'rotating_entrances/rotateInDownLeft.css';
@import 'rotating_entrances/rotateInDownRight.css';
@import 'rotating_entrances/rotateInUpLeft.css';
@import 'rotating_entrances/rotateInUpRight.css'; */
/* Rotating exits */
/* @import 'rotating_exits/rotateOut.css';
@import 'rotating_exits/rotateOutDownLeft.css';
@import 'rotating_exits/rotateOutDownRight.css';
@import 'rotating_exits/rotateOutUpLeft.css';
@import 'rotating_exits/rotateOutUpRight.css'; */
/* Specials */
/* @import 'specials/hinge.css';
@import 'specials/jackInTheBox.css';
@import 'specials/rollIn.css';
@import 'specials/rollOut.css'; */
/* Zooming entrances */
/* @import 'zooming_entrances/zoomIn.css'; */
@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
.zoomInDown_ {
  animation-name: zoomInDown;
}
/* @import 'zooming_entrances/zoomInLeft.css';
@import 'zooming_entrances/zoomInRight.css';
@import 'zooming_entrances/zoomInUp.css'; */
/* Zooming exits */
/* @import 'zooming_exits/zoomOut.css';
@import 'zooming_exits/zoomOutDown.css';
@import 'zooming_exits/zoomOutLeft.css';
@import 'zooming_exits/zoomOutRight.css';
@import 'zooming_exits/zoomOutUp.css'; */
/* Sliding entrances */
/* @import 'sliding_entrances/slideInDown.css';
@import 'sliding_entrances/slideInLeft.css';
@import 'sliding_entrances/slideInRight.css';
@import 'sliding_entrances/slideInUp.css'; */
/* Sliding exits */
/* @import 'sliding_exits/slideOutDown.css';
@import 'sliding_exits/slideOutLeft.css';
@import 'sliding_exits/slideOutRight.css';
@import 'sliding_exits/slideOutUp.css'; */


.snow-container {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    pointer-events: none;
}

.snowflake {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
}

@keyframes fall {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
        transform: translateY(100vh);
    }
}

@keyframes diagonal-fall {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 0.25;
        transform: translate(10vw, 100vh);
    }
}
